<div class="alert" role="alert" [messageTypeBox]="messageType" [showMessage]="showMessage">
    <strong>Error: </strong>{{message}}
</div>
<div class="map-container">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10">
        <agm-marker *ngFor="let place of places" [latitude]="place.lat" [longitude]="place.lng"></agm-marker>
    </agm-map>   
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 near-places__container">
            <div class="row__header">
                <h2 class="header__title">Near Places</h2>
                <a class="btn btn-primary header__button"
                   routerLink="/create">
                    New Place
                </a>
            </div>
            <ul class="list-group">
                <ng-container *ngFor="let place of places">
                    <li class="list-group-item places-item place-item--all">
                        <div>
                            <a  routerLink="/detail/{{place.id}}" 
                                [queryParams]="{action: 'view'}"
                                class="item-link">
                                    <strong>{{place.name}}</strong>
                            </a>
                            <br>
                            <small>Creation Date: {{place.id | date:'mediumTime' | uppercase}}</small>
                            <p [innerHtml]="place.description | linkifystr"></p>
                        </div>
                        <div class="item-actions">
                            <a  routerLink="/detail/{{place.id}}"
                                [queryParams]="{action: 'view'}"
                                class="item-view item-link">
                                <span class="glyphicon glyphicon-search float-right"></span>
                            </a>
                            <a  routerLink="/edit/{{place.id}}"
                                [queryParams]="{action: 'edit'}"
                                class="item-edit item-link">
                                <span class="glyphicon glyphicon-pencil float-right"></span>
                            </a>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Favourites</h2>
            <ul class="list-group">
                <ng-container *ngFor="let place of places">
                    <div class="list-group-item places-item place-item--pay" 
                        *ngIf="place.plan == 'pay'"
                        [@animateBoxBackground]="state"
                        (@animateBoxBackground.done)="animationDone($event)">
                        <div>
                            <a  routerLink="/detail/{{place.id}}" 
                                [queryParams]="{action: 'view'}"
                                class="item-link">
                                    <strong>{{place.name}}</strong>
                            </a>
                            <br>
                            <small>Creation Date: {{place.id | date:'mediumTime' | uppercase}}</small>
                            <p [innerHtml]="place.description | linkifystr"></p>
                        </div>
                        <div class="item-actions">
                            <a  routerLink="/detail/{{place.id}}"
                                [queryParams]="{action: 'view'}"
                                class="item-view item-link">
                                <span class="glyphicon glyphicon-search float-right"></span>
                            </a>
                            <a  routerLink="/edit/{{place.id}}"
                                [queryParams]="{action: 'edit'}"
                                class="item-edit item-link">
                                <span class="glyphicon glyphicon-pencil float-right"></span>
                            </a>
                        </div>
                    </div>
                </ng-container>
            </ul>
        </div>
    </div>
</div>