<div class="container contact-container">
  <div class="row">
    <div class="col-sm-6">
        <div class="image-container">
          <img class="image-container__logo" src="../../assets/AngularJS-logo.svg" alt="logo">
        </div>
    </div>
    <div class="col-sm-6 right">
      <div class="form-group form-box">
        <div class="form-item">
          <label>Name</label>
          <input type="text" class="form-control"/>
        </div>
        <div class="form-item">
          <label>Mail</label>
          <input type="email" class="form-control"/>
        </div>
        <div class="form-item">
          <label>Comments</label>
          <textarea class="form-control"></textarea>
        </div>
        <hr>
        <a class="btn btn-primary">Send</a>
        <a routerLink="/places" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </div>
</div>