.form-box{
    background: rgba(34, 34, 34, 0.5);
    padding: 20px;
}
.form-item{
    margin-bottom: 20px;
}
.item_pointer{
    cursor:pointer;
}
.item_pointer:hover{
    background: rgba(34, 34, 34, 0.1)
}