<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <hr>
  <button [disabled]="!ready" (click)="doSomething()">Click me!</button>
  <hr>
  <input type="text" placeholder="Your firstname here!" [(ngModel)]="firstname"/>
  <input type="text" placeholder="Your lastname here!" [(ngModel)]="lastname"/>
  <br>
  <h2>My name is {{firstname + ' ' +  lastname}}</h2>
</div> -->
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
<br>
<ul>
  <ng-container *ngFor="let place of places">
    <li *ngIf="place.active">{{place.name}}</li>
  </ng-container>
</ul>
<hr>
<ul>
  <ng-container *ngFor="let place of places; let i = index" [ngSwitch]="place.closeness">
    <li
      [ngStyle]="{color: (place.active) ? 'black':'gray'}"
      [ngClass]="{'even-number': (i+1) % 2 !== 0}"
      [highlight]="place.plan">
        {{place.name}} -
        <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Very Close</span>
        <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Close</span>
        <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Far</span>
    </li>
  </ng-container>
</ul>
