<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <hr>
  <button [disabled]="!ready" (click)="doSomething()">Click me!</button>
  <hr>
  <input type="text" placeholder="Your firstname here!" [(ngModel)]="firstname"/>
  <input type="text" placeholder="Your lastname here!" [(ngModel)]="lastname"/>
  <br>
  <h2>My name is {{firstname + ' ' +  lastname}}</h2>
</div> -->
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
<br>
<ul>
  <ng-container *ngFor="let place of places">
    <li *ngIf="place.active">{{place.name}}</li>
  </ng-container>
</ul>